---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import H1 from '../components/H1.astro'
import Main from '../components/Main.astro'
---

<Layout title="I Don't Listen To Music Blog">
	<Main>
		<H1 text="I Don't Listen To Music" />
	</Main>
</Layout>
